  <!-- コメントフォーム -->
<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
  <%= form_with model: comment, url: [board, comment] do |f| %>
    <div id="error_messages"></div>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control mb-3', row: 4 %>
    <%= f.submit t('defaults.post'), class:'btn btn-primary' %>
  <% end %>
  </div>
</div>