  <div class="container">
    <div class="row">
    <% if @bookmarks.present? %>
      <%= render partial: 'board', collection: @bookmarks %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
    </div>
    <%= paginate @bookmarks, theme: 'twitter-bootstrap-4' %>
  </div>